# Ignore sensitive files
*.log
*.env
*keys.js
*config.js

# Ignore firebase admin sdk json file
healmate-c0126-firebase-adminsdk-fbsvc-4daf39ddd9.json

# Ignore node_modules
node_modules/
/node_modules

# Ignore Twilio recovery codes
twilio_2FA_recovery_code.txt

# Ignore WhatsApp images
WhatsApp*.jpeg

